// One Dark Colors

// Default
$plain: #e4e2e9;

// Background
$background: #282c34;

// Caret
$caret: #528bff;

// Function params
$pink: #e9636e;

// Class name Identifiers,
$cyan: #47bbca;

// String
$lime: #98c379;

// Keywords
$purple: #c678dd;

// Numbers, Constants, Markup attributes
$brown: #d3945a;

// Class name, Namespaces
$gold: #e9b85e;

// Method definitions, Function names
$blue: #54a4e6;

// Comments
$comment: #5c6370;
